

<% if current_user.healthy? %>
  <div class='nicotti-position'>
    <%= image_tag 'piyopiyo.gif', :size =>"140x170" %>
  </div>
<% elsif current_user.baldness? %>
  <div class='nicotti-position-1'>
    <%= image_tag 'hagepiyo.png', :size =>"160x200" %>
  </div>
<% elsif current_user.cancer? %>
  <div class='nicotti-position-2'>
    <%= image_tag 'nekomu.png', :size =>"200x245" %>
  </div>
<% end %>

  <div class='nicotti-position' style="display:none;">
    <%= image_tag 'piyopiyo.gif', :size =>"140x170" %>
  </div>

  <div class='nicotti-position-1' style="display:none;">
    <%= image_tag 'hagepiyo.png', :size =>"160x200" %>
  </div>

  <div class='nicotti-position-2' style="display:none;">
    <%= image_tag 'nekomu.png', :size =>"200x245" %>
  </div>
