

<% if current_user.healthy? %>
  <div class='nicotti-position'>
    <%= image_tag 'nicotti-healthy.png', :size =>"140x220" %>
  </div>
<% elsif current_user.baldness? %>
  <div class='nicotti-position-1'>
    <%= image_tag 'sick_panic_man.png', :size =>"180x220" %>
  </div>
<% elsif current_user.cancer? %>
  <div class='nicotti-position-2'>
    <%= image_tag 'cancer_man.png', :size =>"160x200" %>
  </div>
<% end %>

  <div class='nicotti-position' style="display:none;">
    <%= image_tag 'nicotti-healthy.png', :size =>"140x220" %>
  </div>

  <div class='nicotti-position-1' style="display:none;">
    <%= image_tag 'sick_panic_man.png', :size =>"180x220" %>
  </div>

  <div class='nicotti-position-2' style="display:none;">
    <%= image_tag 'cancer_man.png', :size =>"160x200" %>
  </div>
