
<section class='mt-3'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-11 col-md-11 col-sm-12 mx-auto'>
        <div class='page-whole mx-auto'>
          <div class='row'>
            <div class='col-md-5'>
              <div class='left-page'>
                <div class='row justify-content-between'>
                  <div class='col-4 col-md-9'>
                    <div class='mt-3'>
                      <%= @today %>
                    </div>
                  </div>
                  <%= render 'remaining' %>
                </div>
              </div>
            </div>
            <div class='col-md-7'>
              <div class='right-page'>
                <%= render 'status_life' %>
                <%= render 'nicotti' %>
                <div class='swiper-wrapper mx-auto'>
                  <div><%= image_tag 'room-2.jpeg'%></div>
                  <div><%= image_tag 'room-2.jpeg'%></div>
                </div>
                <div class='py-1'>
                  <div class='words mx-auto'>
                    <div>
                        NICOTTI：</br>
                      「今日もすこぶる体調がいいよ！！」</br>
                      「目標を達成できるよう頑張ろう！」
                    </div>
                  </div>
                </div>
                <div class='pt-3'>
                  <div class='row row-cols-1 justify-content-center'>
                    <%= render 'today_smokings' %>
                    <%= render 'smokings/smoking'%>
                    <div class='col-11'>
                      <p class='text-center'>取り消す</p>
                    </div>
                  </div>   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>