
<section class='mt-3'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 col-md-12 col-sm-12 mx-auto'>
        <div class='page-whole mx-auto'>
          <div class='row'>
            <div class='col-md-5'>
              <div class='left-page'>
                <div class='row justify-content-between'>
                  <div class='col-4 col-md-9'>
                    <div class='mt-3'>
                    <%= @today %>
                    </div>
                  </div>
                  <%= render 'remaining' %>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="smoking-log">
                        <%= render partial: 'smokings/smoking', collection: @smokings %>
                    </div>
                    <div class="smoking-log-sm" style="display:none;">
                      <%= render partial: 'smokings/smoking', collection: @smokings %>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class='col-md-7'>
              <div class='right-page'>
                <%= render 'status_life' %>
                <%= render 'nicotti' %>
                <div class='swiper-wrapper mx-auto'>
                  <div><%= image_tag 'living-room.png', :size =>"392x274" %></div>
                  <div><%= image_tag 'living-room.png', :size =>"392x274" %></div>
                </div>
                <div class='py-1'>
                  <%= render 'nicotti_words' %>
                </div>
                <div class='pt-3'>
                  <div class='row row-cols-1 justify-content-center'>
                    <%= render 'today_smokings' %>
                    <%= render 'smokings/smoking_buttom' %>
                    <buttom class="btn today-smoking-buttom" id="js-smoking-log">今日の喫煙</buttom>
                    <div class='col-11'>
                      <%= render 'today_smoking_log', {smokings: @smokings} %>
                    </div>
                  </div>   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/modal_baldness' %>
<%= render 'shared/modal_cancer' %>
<%= render 'shared/modal_dead' %>