
<section class='mt-3'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-11 col-md-11 col-sm-12 mx-auto'>
        <div class='page-whole'>
          <div class='row'>
            <div class='col-md-5'>
              <div class='left-page'>
                <div class='py-3'>
                  <p>今日はあと<span class='bg-warning'><%= current_user.remaining_number %></span>本</p>
                </div>
              </div>
            </div>
            <div class='col-md-7'>
              <div class='right-page'>
                <div class='nicotti-status'>
                  <div class='status-text'>ステータス：健康</div>
                </div>
                <div class='nicotti-position'>
                  <%= image_tag 'nicotti-healthy.png', :size =>"130x220" %>
                </div>
                <div class='swiper-wrapper mx-auto'>
                  <div><%= image_tag 'room-2.jpeg'%></div>
                  <div><%= image_tag 'room-2.jpeg'%></div>
                </div>
                <div class='py-1'>
                  <div class='words mx-auto'>
                    <div>
                      <p>NICOTTI：</p>
                      <p>「今日もすこぶる体調がいいよ！！」</p>
                      <p>「目標を達成できるよう頑張ろう！」</p>
                    </div>
                  </div>
                </div>
                <div class='pt-3'>
                  <div class='row'>
                    <h6 class='text-center mb-3'>今日の喫煙<span class='bg-warning'><%= current_user.smokings.count %></span>回</h6>
                    <%= render 'smokings/smoking'%>
                    <p class='text-center'>取り消す</p>
                  </div>   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>