
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <div id="offcanvasRightLabel">メニュー</div>
    <hr>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <% if logged_in? %>
          <li class="text-left"><i class="fas fa-home fa-lg"></i><%= link_to '  ホーム', users_path %></li>
          <li class="text-left"><i class="fas fa-user fa-lg"></i><%= link_to "  #{current_user.name}", user_path(current_user) %></li>
          <li class="text-left"><i class="fas fa-calendar fa-lg"></i><%= link_to "  カレンダー ", smokings_path %></li>
          <li class="text-left"><i class="fas fa-sign-out-alt fa-lg"></i><%= link_to '  ログアウト', logout_path, method: :post %></li>
          <% if current_user.admin? %>
            <li class="text-left"><i class="fas fa-users-cog fa-lg"></i><%= link_to '  管理画面', rails_admin.dashboard_path %></li>
          <% end %>
        <% else %>
          <li class="text-left"><i class="fas fa-user fa-lg"></i><%= link_to "  新規登録", new_user_path %></li>
          <li class="text-left"><i class="fas fa-sign-in-alt fa-lg"></i><%= link_to "  ログイン", :login %></li>
        <% end %>
      </ul>
      <div class="text-center mt-4"><a href="https://lin.ee/iORJozW"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a></div>
    </div>
  </div>
</div>