<div class="col-lg-12 col-md-12 col-sm-12">
  <div class='login-layout mx-auto'>
    <div class='text-center mt-3'>
      <h1>ログイン</h1>
    </div>
      <div class='container'>
        <div class='row'>
          <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <%= form_with url: login_path, method: :post do |f| %>
              <div class='form-group mt-3'>
                <%= f.label :email, User.human_attribute_name(:email) %>
                <span class='badge rounded-pill bg-warning'>必須</span>
                <%= f.text_field :email, class: 'form-control mt-1' %>
              </div>
              <div class='form-group mt-3'>
                <%= f.label :password, User.human_attribute_name(:password)%>
                <span class='badge rounded-pill bg-warning'>必須</span>
                <%= f.password_field :password, class: 'form-control mt-1' %>
              </div>
              <div class='text-center mt-5 mb-5'>
                <%= f.submit t('defaults.login'), class: 'btn login-button' %>
              </div>
            <% end %>
            <div class='text-center my-5'>
              <p>
                はじめての方は
                <%=link_to "コチラ", new_user_path %>
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

